<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title th:replace="${title}">博客详情</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="stylesheet" th:href="@{/css/mine.css}">
</head>
<body>
<!--导航-->
<nav th:fragment="menu(n)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="m-item item m-mobile-hide" th:href="@{/admin/blogs}" th:classappend="${n==1} ? 'active'"><i class="home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide" th:href="@{/admin/types}" th:classappend="${n==2} ? 'active'"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide" th:href="@{/admin/tags}" th:classappend="${n==3} ? 'active'"><i class="tags icon"></i>标签</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img th:src="@{/images/me.jpg}" style="width: 28px;height: 28px;" class="ui avatar image">
                        <!--th:src="@{${session.user.avatar}}" -->
                        <span th:text="${session.user.nickname}">YK_20</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle icon black button m-right-top m-mobile-show"><i class="sidebar icon"></i></a>
</nav>
<!--博客类二级导航-->
<div th:fragment="secondMenu(n)" class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a th:href="@{/admin/blogs/input}" th:classappend="${n=='bi'} ? 'active teal'" class="item">发布</a>
            <a th:href="@{/admin/blogs}" th:classappend="${n=='b'} ? 'active teal'" class="item">列表</a>
        </div>
    </div>
</div>
<!--标签分类二级导航-->
<div th:fragment="secondMenu1(n,h)" class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a th:href="${h==1}? @{/admin/types/input} : @{/admin/tags/input}" th:classappend="${n=='i'} ? 'active teal'" class="item">新增</a>
            <a th:href="${h==1}? @{/admin/types} : @{/admin/tags}" th:classappend="${n=='l'} ? 'active teal'" class="item">列表</a>
        </div>
    </div>
</div>

<!--footer-->
<footer th:fragment="footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img th:src="@{/images/wechat.jpg}" class="ui rounded image" style="width: 120px">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">联系我们</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Mail:1006545997@qq.com</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header">简介</h4>
                <p class="text-opacity text-lined m-p-indent text-left">hello,欢迎来到我的博客！hello,欢迎来到我的博客！欢迎来到我的博客！hello,欢迎来到我的博客！</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-opacity-big text-spaced text-lined">Copyright&copy;2020 Designed by <a href="#">YK_20</a></p>
    </div>
</footer>

<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
</th:block>
</body>
</html>