html{
    height: 100%;
    width: 100%;
}
body{
    background: url("../images/bgcar.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
footer{
    flex: 0 0 auto;
}
.m-content{
    flex: 1 0 auto;
}


.m-padded-minimini{
    padding: 0.1em !important;
}

.m-padded-mini{
    padding: 0.3em !important;
}
.m-padded{
    padding: 1em !important;
}
.m-padded-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny{
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-small{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive{
    padding-top: 2.5em !important;
    padding-bottom: 0.4em !important;
}
.m-padded-lr-2em{
    padding-left: 1.6em !important;
    padding-right: 1.6em !important;
}
.m-padded-lr-responsive{
    padding-left: 4em !important;
    padding-right: 4em !important;
}
.m-bottom{
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
}

/*---------container--------*/
.m-container{
    max-width: 75em !important;
    margin: auto !important;
}
.m-container-small{
    max-width: 60em !important;
    margin: auto !important;
}

/*------------text--------------*/
.text-spaced{
    letter-spacing: 1px !important;
}
.text-lined{
    line-height: 1.8;
}
.text-thin{
    font-weight: 200 !important;
}
.text-left{
    text-align: left !important;
}
.m-p-indent{
    text-indent:2em;
}

/*-------opacity----*/
.text-opacity{
    opacity: 0.7 !important;
}
.m-opacity-big{
    opacity: 0.5 !important;
}
.m-opacity-small{
    opacity: 0.8 !important;
}
/*---------display-----*/
.inline-block{
    display: inline-block !important;
}
.m-display{
    display: none !important;
}

/*-------margin---------*/
.m-margin-tb-tiny{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-top-large{
    margin-top: 2em !important;
}
.m-margin-bottom-mini{
    margin-bottom: 0.5em !important;
}
.m-center{
    margin: 250px 0 0 150px;
}

/*------------color---------*/
.m-black{
    color: #333333 !important;
}
.m-teal{
    color: #00c4ff !important;
}

/*----------position----------*/
.m-right-top{
    position: absolute;
    top: 0.1em;
    right: 0.1em;
}
.m-fixed{
    position: fixed !important;
    z-index: 999 !important;

}
.m-right-bottom{
    bottom: 0 !important;
    right: 0 !important;
}
/*.m-position-remove{*/
/*    position: absolute !important;*/

/*}*/

/*------picture---------*/
.m-image{
    width: 20px !important;
    height: 20px !important;
}
.m-image-big{
    width: 200px !important;
    height: 140px !important;
}
.m-image-huge{
    width: 820px !important;
    height: 450px !important;
}
.m-height-auto{
    height: auto !important;
}

/*----平时显示----*/
.m-mobile-show{
    display: none !important;
}
/*--------shadow---------*/
.m-shadow-small{
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}

/*-------屏幕小于768px应用-------*/
@media screen and (max-width: 768px){
    .m-mobile-hide{
        display: none !important;
    }
    .m-mobile-show{
        display: block !important;
    }
    .m-padded-lr-responsive{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-lr-clear{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-wide{
        width: 100% !important;
     }
    .m-padded-lr-2em{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-center{
        margin: 50px auto;
    }
    html{
        height: auto;
        width: 100%;
    }
}