<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>归档</title>
</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: menu(4)"></nav>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big m-opacity-small">
    <div class="ui container">
<!--        header-->
        <div class="ui top attached padded segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h2 class="ui teal header">归档</h2>
                </div>
                <div class=" right aligned column">
                    共 <h3 class="ui orange header inline-block text-thin" th:text="${blogCount}">66</h3> 篇博客
                </div>
            </div>
        </div>
<!--        hashmap只有key和value-->
        <th:block th:each="map : ${archiveMap}">
            <h2 class="ui center aligned header" th:text="${map.key}">2020</h2>
            <div class="ui fluid vertical menu">
                <a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog : ${map.value}">
                    <span>
                        <i class="mini teal circle icon"></i><span th:text="${blog.title}">关于2020年的成长</span>
                        <div class="ui teal basic left pointing label m-padded-mini" th:text="${#dates.format(blog.updateTime,'MMMdd')}">9月03</div>
                    </span>
                    <div class="ui orange basic left pointing label m-padded-mini" th:text="${blog.flag}">原创</div>
                </a>
            </div>
        </th:block>
    </div>
</div>
<!--底部-->
<footer th:replace="_fragments :: footer"></footer>

<!--thymeleaf引入模板中的script的方式-->
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>

</body>
</html>