<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>分类</title>
</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: menu(2)"></nav>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big m-opacity-small">
    <div class="ui container">
<!--        header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h2 class="ui teal header">分类</h2>
                </div>
                <div class=" right aligned column">
                    共 <h3 class="ui orange header inline-block text-thin" th:text="${#arrays.length(types)}">14</h3> 个
                </div>
            </div>
        </div>
<!--        分类-->
        <div class="ui attached segment">
            <div class="ui labeled button m-margin-tb-tiny" th:each="type : ${types}">
                <a class="ui basic button" th:href="@{/types/{id}(id=${type.id})}" th:text="${type.name}" th:classappend="${type.id==activeTypeId}?'teal'">思考与感悟</a>
                <div class="ui basic left pointing label" th:classappend="${type.id==activeTypeId}?'teal'" th:text="${#arrays.length(type.blogs)}">66</div>
            </div>
        </div>
<!--        博客列表-->
        <div class="ui top attached teal segment">
            <div class="ui vertical segment m-padded-lr-2em m-padded-tb-large" th:each="blog : ${page.content}">
                <div class="ui middle aligned mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header"><a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">你喝过景田山泉水吗？</a></h3>
                        <p th:text="|${blog.description}......|"></p>
                        <!--                                <p style="text-indent: 2em;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;">景田公司成立于1992 年 ，是一家专注于瓶装 、桶装饮用水生产和销售的省级企业。自创办以来，公司二千五百多名员工一直坚持质量行业居先，服务无微不至的企业理念。视质量为企业品牌发展生命的景田公司，全面推行 ISO9001 ： 2000 及 HACCP 质量管理和控制体系，并注重为客户提供优质的产品及优良的服务。公司专业、真诚、高效的企业精神一直以来得到客户的肯定、业界的推崇以及消费者的好评。</p>-->
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <div class="ui mini link list horizontal">
                                    <div class="item">
                                        <img src="../static/images/me.jpg" th:src="@{${blog.user.avatar}}" class="ui avatar image m-image">
                                        <div class="content"><a class="header" th:text="${blog.user.nickname}">里不良</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar middle aligned icon"></i>
                                        <span class="middle aligned" th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}"></span>
                                    </div>
                                    <div class="item">
                                        <i class="eye middle aligned icon"></i>
                                        <span class="middle aligned" th:text="${blog.views}">666</span>
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a class="ui label teal basic m-padded-mini text-thin" th:text="${blog.type.name}">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                            <img th:src="@{${blog.firstPicture}}" class="ui rounded m-height-auto image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
<!--footer上下页-->
        <div class="ui bottom attached segment" th:if="${page.totalPages} > 1">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}" class="ui mini teal basic button">上一页</a>
                </div>
                <div class=" right aligned column">
                    <a th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}" class="ui mini teal basic button">下一页</a>
                </div>
            </div>
        </div>

    </div>
</div>
<!--底部-->
<footer th:replace="_fragments :: footer"></footer>

<!--thymeleaf引入模板中的script的方式-->
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>

</body>
</html>